.header{
    height: 60px;
    background-color: $cWhite;
    border-bottom: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__logo{
        font-size: 32px;
        margin-left: 20px;
        margin-top: 10px;
    }
}